;
; CURLOPT global settings (mostly set for realtime)
;
[globals]
proxytype=http
proxyport=8001
conntimeout=1
dnstimeout=1
httptimeout=2
followlocation=true
;httpheader=Content-Type: application/x-www-form-urlencoded
;failurecodes=404,408,503
